stages:
  - build
  - deploy

build_frontend:
  stage: build
  script:
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/build/
    expire_in: 1 hour

build_backend:
  stage: build
  script:
    - cd backend
    - docker build -t railway-backend .
  artifacts:
    paths:
      - backend/railway-backend
    expire_in: 1 hour

pages:
  stage: deploy
  script:
    - mv frontend/build/* public/
  artifacts:
    paths:
      - public
  only:
    - main